<div class="mat-card text-dark bg-light mb-3">
    <div class="row">
      <h3>{{persona.apellido}}</h3>
      <div class="col ">
        <div class="card-titles">
          <h2>Acerca de</h2>
          <p>{{persona.nombre}}</p>
        </div>
        <div>
          <p id="text-acercade">Estudiante de programación Web Full Stack Junior.</p>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, quaerat modi! Sit sequi voluptates nemo? Accusamus aspernatur molestias perferendis eligendi voluptate minus recusandae accusantium. Quaerat ducimus fugit quisquam unde maxime.</p>
      </div>
    </div>
  </div>
