<div class="mat-card text-dark bg-light mb-3">
  <div class="row">
    <h1>Educación</h1>
    <div class="col-lg-2">
      <button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">
        Agregar educación
      </button>
    </div>

    <div class="col lg 1"></div>
    <div class="col-lg-md-sd">
      <table class="table">
        <tbody>
          <tr *ngFor="let Educacion of educacion">
            <td>
              <h5>{{Educacion.nombreE}}</h5>
            </td>
            <td>{{Educacion.descripcionE}}</td>
            <td *ngIf="isLogged">
              <button class="btn btn-ligh" routerLink="/editedu/{{Educacion.id}}"><i
                  class="bi bi-pencil"></i>
                Editar</button> 
              </td>

            <td *ngIf="isLogged">
              <button class="btn btn-danger" (click)="delete(Educacion.id)">
                <i class="bi bi-x-square"></i> Borrar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>