<div class="card mat-card">
    <div class="row">
        <div class="contenedor">
            <div>
                <h1>Video Juego</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis et, sit ipsum eius quibusdam
                    repudiandae amet quas quae sapiente assumenda quam? Doloremque est ullam architecto dolorum amet
                    reiciendis? Iusto, voluptatibus.</p>
            </div>
        </div>
        <img src="https://64.media.tumblr.com/c66be338b1c6bb3d25f164fccc3df77d/tumblr_peg9wtW27L1xvjfqfo1_r1_1280.gifv">
    </div>
</div>