<nav class="navbar navbar-expand-sm navbar-light " id="nav-bar">
  <div class="container-fluid" >
    <a class="navbar-brand" href="https://github.com/jndrssn"><i class="fa-solid fa-code"></i> Jhon Anderssen</a>
    <ul class="nav nav-pills align-items-center icon-bar">
      <li>
        <a href="https://github.com/jndrssn"><i class="bi bi-github text-dark"></i></a>
      </li>
      <li>
        <a href="https://github.com/jndrssns"><i class="bi bi-instagram text-dark"></i></a>
      </li>
      <li>
        <a href="https://twitter.com/mitossiete"><i class="bi bi-twitter text-dark"></i></a>
      </li>
      <li>
      </li>
      <div class="redes">
        <button type="button" class="btn btn btn-dark" (click)="login()" *ngIf="!isLogged">Login</button>
        <button type="button" class="btn btn btn-dark" (click)="onLogOut()" *ngIf="isLogged">Logout</button>
      </div>
    </ul>
    
  </div>
</nav>

