<nav class="navbar navbar-expand-sm navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="fa-solid fa-code"></i> Jhon Anderssen</a>
    <ul class="nav nav-pills align-items-center icon-bar">
      <li>
        <a href="https://github.com/jndrssn"><i class="bi bi-github text-dark"></i></a>
      </li>
      <li>
        <a href="https://github.com/jndrssns"><i class="bi bi-instagram text-dark"></i></a>
      </li>
      <li>
        <a href="https://github.com/jndrssns"><i class="bi bi-twitter text-dark"></i></a>
      </li>
      <li>
      </li>
      <div class="redes">
        <button type="button" class="btn btn btn-dark" (click)="login()" *ngIf="!isLogged">Login</button>
        <button type="button" class="btn btn btn-dark" (click)="onLogOut()" *ngIf="isLogged">Logout</button>
      </div>
    </ul>
    
  </div>
</nav>

<div class="cardHeader bg-light mb-3">
  <img src="../../../assets/yan-blanco-pier002.jpg" class="img-fluid profile-background" />
  <div id="info-img">
    <img class="rounded-circle profile-image align-items-center" src="../../../assets/Logo.png" alt="Foto de perfil" />
    <a href="#" class="flush-collapseTwo text-dark text-decoration-none">
      <i class="fa fa-pen" aria-hidden="true"></i>
    </a>
  </div>

  <div id="info-data">
    <div class="row">
      <div class="col-8">
        <span>
          <h3>Jhon Anderssen</h3>
        </span>
        <div id="info-company">Técnico en GSB</div>
        <div id="info-contact">


          <span><a href="#" class="text-decoration-none"> Información de contacto</a></span>
        </div>
      </div>
      <br>
      <br>
      <div class="col-4">
        <a href="https://jndrssn.github.io/img/terminal-fill.svg" class="text-dark text-decoration-none text-align">
          <img src="../../../assets/terminal-fill.svg" class="botonLogoInstitucion" width="58" height="58" />
          <p class="text-end d-inline" style="color:rgb(67, 163, 253)"><strong>Argentina Programa</strong></p>
        </a>
      </div>
      <div class="col-9">
        <button type="button" class="btn btn-primary">Tengo interés en</button>
        <button type="button" class="btn btn-light">Añadir Sección</button>
        <button type="button" class="btn btn-light">Más</button>
      </div>
    </div>
  </div>
</div>