body {
    background: rgb(238,210,174);
    background: linear-gradient(0deg, rgb(236, 231, 223) 0%, rgb(215, 218, 236) 100%);
  }
  
.profile-background {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
   
     
}

.cardHeader {
    border-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin: 0%;
    margin-top: 2%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}

.col-3{
    margin-top: 2%;
}

div#first-card{
    margin-top: 1%;
}

.mat-card {
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
   
    max-width: 850px;
    padding: 16px;
    border-color: rgb(255, 255, 255);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}


.mat-card#first-card {
    border-radius: 25px;
    padding: 2%;
    box-shadow: 10px 0 25px rgba(0, 0, 0.25, 0.25);
}


.profile-image {
    padding: 0px;
    width: 170px;
    height: 170px;
    margin-top: -110px;
    margin-left: 16px;
    z-index: 0;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.911); 
}

ul li {
    list-style: none;
    display: inline-block;
    margin: .5em .3em;
}

ul li a {
    text-decoration: none;
    color: rgb(120, 128, 204);
    width: 30px;
    height: 30px;
    line-height: 30px !important;
}



div#trabajo-estudios h2 {
    font-size: 18px;
}

div#trabajo-estudios {
    margin-block-end: auto;
}

div#footer{
    margin-top: 2%;
}
